body {
    max-width: 98vw;
    color: white;
    /* background: lightblue url(..src/images/sky-with-clouds.jpg); */
}

h1 {
    text-align: center;
    width: 100vw;
    color: whitesmoke;
    background-color: rgba(169, 188, 206, 0.26);
}

#card0 {
    background-color: rgba(255, 230, 0, 0.699);
    box-shadow: rgb(101, 158, 214) 5px 6px 5px;
}
.location,
#location0 {
    padding: 0.5rem;
}
#icon0 {
    width: 6rem;
}

.cards {
    background-color: rgba(255, 230, 0, 0.699);
    box-shadow: rgb(101, 158, 214) 5px 6px 5px;

}
.icons {
    width: 5rem;
}